{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock title %}


{% block content %}
<div id="main_text">
<p>Bradley Holland is a scholar based in Hawaii. He received a PhD and AM 
    from the Government Department at Harvard University and a BA in 
    Political Science and East Asian Studies from the University of Wisconsin.</p>
<p> 
    He works as an Assistant Professor at the University of Hawaii at Hilo, teaching <a class="courses_link" href="{% url 'courses' %}"> courses</a> on crime, justice,
    and politics. His <a class="research_link" href="{% url 'research' %}">  research</a> focuses on
    violence, collective action, and race. Click to view his 
    <a class="cv_link" href="https://www.dropbox.com/s/hi82qfzz3k6p1o3/Holland_CV_060519.pdf?dl=0"> 
    cv</a>. You can contact him at holland [dot] 415 [at] osu [dot] edu.
</p>
</div>
<!-- 
<div class = "row centered">
    <div class="imgContainer">
            <img src ="{% static 'images/word_060519b_t3.png' %}" alt = "title1" class ="letter1" />
        </div>  
    <div class="imgContainer">
        <img src ="{% static 'images/me_animate_060519b.gif' %}" alt = "title" class ="me_gif" />
    </div>
    <div class="imgContainer">
    <img src ="{% static 'images/word_060519b_t3.png' %}" alt = "title1" class ="letter1" />
    </div>
</div> -->


<div class = "row centered">
    <div class="imgContainer">
            <img src ="{% static 'images/word_060619_t2_trans.png' %}" alt = "title1" class ="letter4" />
        </div> 
    <div class="imgContainer">
            <img src ="{% static 'images/word_060619_t2_trans.png' %}" alt = "title1" class ="letter3" />
        </div> 
    <div class="imgContainer">
            <img src ="{% static 'images/word_060619_t2_trans.png' %}" alt = "title1" class ="letter2" />
        </div> 
    <div class="imgContainer">
            <img src ="{% static 'images/word_060619_t2_trans.png' %}" alt = "title1" class ="letter1" />
        </div>  
    <div class="imgContainer">
        <img src ="{% static 'images/me_animate_060519b.gif' %}" alt = "title" class ="me_gif" />
    </div>
    <div class="imgContainer">
    <img src ="{% static 'images/word_060619_t2_trans.png' %}" alt = "title1" class ="letter1" />
    </div>
    <div class="imgContainer">
            <img src ="{% static 'images/word_060619_t2_trans.png' %}" alt = "title1" class ="letter2" />
        </div> 
    <div class="imgContainer">
            <img src ="{% static 'images/word_060619_t2_trans.png' %}" alt = "title1" class ="letter3" />
        </div> 
    <div class="imgContainer">
            <img src ="{% static 'images/word_060619_t2_trans.png' %}" alt = "title1" class ="letter4" />
        </div> 
</div>





{% endblock content %}